@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

#output {
	font-size: xx-large;
	border: solid 5px red;
	/* outline: solid 5px red; */
	border-radius: 10px;
	padding: 20px;
	width: 500px;
	text-align: center;
	color: red;
}

.ubuntu-bold {
	font-family: "Ubuntu", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.ubuntu-bold-italic {
	font-family: "Ubuntu", sans-serif;
	font-weight: 700;
	font-style: italic;
}